body {
    color: black;
    text-align: center;
    background: #466368;
    background: -webkit-linear-gradient(#c6dcff, #95a6f9);
    background:    -moz-linear-gradient(#c6dcff, #95a6f9);
    background:         linear-gradient(#c6dcff, #95a6f9);
}


.full {
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    font-weight: bold;
}

.vertical-flex {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
}

.logo{
    position: absolute;
    left:5%;
    top:5%;
}

.logo-text{
    color: black;
    text-decoration: none;
    font-size: 1.5em;
}

.btn-index {
    margin: 0.75em;
}

.logout {
    position: absolute;
    top: 5%;
    right: 5%;
}

.btn-primary {
    background-color: #1c36cc;
    border-color: #1b36cc;
}

a {
    color: #1b36cc;
}

.data-title {
    padding:1rem;
    margin-bottom:0px;
}
