body {
    color: black;
    text-align: center;
}

.home-form {
    width: 85%;
    margin: auto;
}

.full {
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    font-weight: bold;
}

.vertical-flex {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
}

.logo{
    position: absolute;
    left:5%;
    top:5%;
}

.logo-text{
    color: black;
    text-decoration: none;
    font-size: 1.5em;
}

.btn-index {
    margin: 0.75em;
}

.logout {
    position: absolute;
    top: 2em;
    right: 2em;
}
