<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
  </head>

  <body>
    <div class="logout">
      <a href="/logout/" class="btn btn-link">Log out</a>
    </div>

    <div class="full container-fluid">

      <form method="POST">
	<input type="date" name="date">
	<input type="submit" value="Choose Date">
      </form>
      
      <div class="card" style="width:90%">
	<div class="card-header">
	  <h1>{{info['class_name']}}</h1>
	</div>

	<div class="card-header">
	  <h1>{{date}}</h1>
	</div>
	
	<div class="card-body">
	  <div class="card">
	    <div class="text-left">
	      <h3 class="card-title text-left data-title">Today</h3>
	    </div>
	    <ul class="nav nav-tabs" role="tablist">
	      <li class="nav-item">
		<a class="nav-link active" href="#Overall" role="tab" data-toggle="tab">Overall</a>
	      </li>
	      {% for cat in categories %}
	      <li class="nav-item">
	      <a class="nav-link" href="#{{cat}}" role="tab" data-toggle="tab">{{cat}}</a>
	      </li>
	      {% endfor %}
	    </ul>

	    <div class="tab-content">
	      <!--OVERALL-->
	      <div role="tabpanel" class="tab-pane fade in active show" id="Overall">
		{% for c in data_day[1] %}
		<p>{{c}}: {{data_day[1][c]}}</p>
		{% endfor %}
	      </div><!--end overall-->

	      <!--FOR EACH CATEGORY{{cat}}-->
	      {% for cat in categories %}
	      <div role="tabpanel" class="tab-pane fade in" id="{{cat}}">
		<table class="table">
		  <tr>
		    <th>Date</th>
		    <th>Time</th>
		    <th>Score</th>
		  </tr>
		  
		{% for entry in data_day[0] %}
		<tr><td>{{entry['date']}}</td><td>{{entry['time']}}</td><td>{{entry['scores'][cat]}}</td></tr>
		{% endfor %}
		
		</table>
		
	      </div>
	      {% endfor %}<!--end category{{cat}}-->
	      
	    </div><!--END TAB-CONTENT-->
 	  </div><!--END CARD 1-->

	  <div class="card"><!--REVIEWS-->
	    <div class="card-title text-left data-title">
	      <h3>All reviews</h3>
	    </div>
	    <div>
	      <table class="table">
		<tr>
		  <th>Date</th>
		  <th>Time</th>
		  {% for cat in categories %}
		  <th>{{cat}}</th>
		  {% endfor %}
		  <th>Comment</th>
		</tr>		  
		{% for entry in data_day[0] %}
		<tr>
		  <td>{{entry['date']}}</td><td>{{entry['time']}}</td>
		  {% for cat in categories %}
		  <td>{{entry['scores'][cat]}}</td>
		  {% endfor %}
		  <td>{{entry['comments']}}</td>
		</tr>
		{% endfor %}
		
		</table>

	    </div>
	  </div><!--END CARD 2: REVIEWS-->

	  <div class="card"><!--WEEKLY-->
	    <div class="card-title text-left data-title">
	      <h3>Weekly data</h3>
	    </div>
	    <ul class="nav nav-tabs" role="tablist">
		<li class="nav-item">
		  <a class="nav-link active" href="#weekly_overall" role="tab" data-toggle="tab">Overall</a>
		</li>
		{% for cat in categories %}
		<li class="nav-item">
		  <a class="nav-link" href="#weekly_{{cat}}" role="tab" data-toggle="tab">{{cat}}</a>
		</li>
		{% endfor %}
	    </ul>

	    <div class="tab-content">
	      <!--OVERALL-->
	      <div role="tabpanel" class="tab-pane fade in active show" id="weekly_overall">
		{% for c in data_week[1] %}
		<p>{{c}}: {{data_week[1][c]}}</p>
		{% endfor %}
	      </div><!--end overall-->

	      <!--FOR EACH CATEGORY{{cat}}-->
	      {% for cat in categories %}
	      <div role="tabpanel" class="tab-pane fade in" id="weekly_{{cat}}">

		<table class="table">
		  <tr>
		    <th>Date</th>
		    <th>Time</th>
		    <th>Score</th>
		  </tr>
		  
		{% for entry in data_week[0] %}
		<tr><td>{{entry['date']}}</td><td>{{entry['time']}}</td><td>{{entry['scores'][cat]}}</td></tr>
		{% endfor %}
		
		</table>
	      </div>
	      {% endfor %}<!--end category{{cat}}-->
	      
	    </div><!--END TAB-CONTENT-->
	  </div><!--END CARD 3: WEEKLY-->

	  <div class="card"><!--MONTHLY-->
	    <div class="card-title text-left data-title">
	      <h3>Monthly data</h3>
	    </div>
	    <ul class="nav nav-tabs" role="tablist">
		<li class="nav-item">
		  <a class="nav-link active" href="#Overall" role="tab" data-toggle="tab">Overall</a>
		</li>
	    </ul>
	    <div class="tab-content">
	      <!--OVERALL-->
	      <div role="tabpanel" class="tab-pane fade in active show" id="month_overall">
		{% for c in data_month[1] %}
		<p>{{c}}: {{data_month[1][c]}}</p>
		{% endfor %}
	      </div><!--end overall-->
	    </div><!--end tab-content-->
	   
	  </div><!--END CARD 3: MONTHLY-->
	</div>
      </div>
    </div>
    
</body>


</html>
