<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
  </head>

  <body>
    <div class="logout">
      <a href="/logout/" class="btn btn-link">Log out</a>
    </div>

    <div class="full container-fluid">
      <div class="card" style="width:90%">
	<div class="card-header">
	  <h1>{{info['class_name']}}</h1>
	</div>
	
	<div class="card-body">
	  <div class="card">
	    <p><ul class="nav nav-tabs" role="tablist">
	      <li class="nav-item">
		<a class="nav-link active" href="#Overall" role="tab" data-toggle="tab">Overall</a>
	      </li>
	      {% for cat in categories %}
	      <li class="nav-item">
	      <a class="nav-link" href="#{{cat}}" role="tab" data-toggle="tab">{{cat}}</a>
	      </li>
	      {% endfor %}
	    </ul></p>

	    <div class="tab-content">
	      <!--OVERALL-->
	      <div role="tabpanel" class="tab-pane fade in active show" id="Overall">
		<p>This is overall bar graph</p>
	      </div><!--end overall-->

	      <!--FOR EACH CATEGORY{{cat}}-->
	      {% for cat in categories %}
	      <div role="tabpanel" class="tab-pane fade in" id="{{cat}}">

	      <p>this is {{cat}}'s graph</p>
	      </div>
	      {% endfor %}<!--end category{{cat}}-->

	      
	    </div><!--END TAB-CONTENT-->
	  </div>
	</div>
      </div>
    </div>

</body>


</html>
