<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
  </head>

  <body>
    <div class="full container-fluid">
      <div class="logout">
	<a href="/logout/" class="btn btn-link">Log out</a>
      </div>
	  <h1>My Courses</h1>
	  <a href="/add_course" class="btn btn-primary" role="button">New course</a><br>
	  {% for c in course_names %}
	  <div class="btn-group-vertical btn-group-lg" role="group">
	    <button type="button" class="btn btn-dark">{{ course_names[c] }}</button>
	    {% endfor %}
	  </div><!--end GROUP-->

    </div>
  </body>
</html>
